<p id="notice"><%= notice %></p>

<p>
  <strong>Title:
  <%= @post.title %></strong>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<strong>Comments: </strong>
<div class="comments">
  <%= render 'comments/comments' %>
</div>

<strong>Add comment:</strong>
<!-- <%#= form_for(@comment, url: post_comments_path(@post)) do |f| %> -->

<%= form_for([@post, @comment], remote: true) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

  <!-- <form id="new-comment" action="<%#= post_comments_path(@post, @comment) %>">
    <p>Commenter: <input type="text" id="commenter"></p>
    <p>Body: <input type="textarea" id="body"></p>
    <p><input type="submit"></p>
  </form> -->

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>